<div class="d-flex flex-column albums-wrapper">
  <mat-tab-group color="accent"
                 [selectedIndex]="tabActive"
                 (selectedTabChange)="handleFragment($event)">
    <mat-tab label="Pictures">
      <div class="aniimated-thumbnials">
        <div *ngFor="let album of albums" class="d-flex flex-column">
          <div class="date-time" *ngIf="album.images !== null && album.images.length > 0">
            <span>{{(album.createdAt + '').substr(0, 10)}}</span>
          </div>

          <div class="list-images d-flex flex-wrap">
            <div *ngFor="let image of album.images" class="single-image">
              <a href="{{imageUrl + image.url}}" data-sub-html="Demo Description">
                <img src="{{imageUrl + image.url}}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Albums">
      <div class="d-flex flex-column">
        <div
          *ngFor="let album of albums"
          (click)="navigateToListPhotos(album.id)"
          class="d-flex pr-3 album-row">
          <div class="album-thumbnail">
            <img *ngIf="album.images !== null && album.images.length > 0" src="{{imageUrl + album.images[0].url}}" alt="">
            <img *ngIf="album.images === null || album.images.length === 0" src="../../../../assets/images/album_thumbnail.jpg" alt="">
          </div>

          <div class="album-info d-flex flex-column justify-content-center">
            <span>{{album.title}}</span>
            <span class="quantity" *ngIf="album.images !== null && album.images.length > 0">{{album.images.length}}</span>
            <span class="quantity" *ngIf="album.images === null || album.images.length === 0">0</span>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
