.date-time span {
  font-size: 12px;
  color: #5a5a5a;
}

.albums-wrapper {
  background-color: white;
  border-radius: 5px;
}

.list-images .single-image {
  width: 33.3333%;
  height: 150px;
  padding: 3px;
}

.list-images img {
  width: 100%;
  height: 100%;
}

.date-time {
  padding: 10px 0 10px 25px;
}

.albums-wrapper .mat-tab-label, .albums-wrapper .mat-tab-label-active{
  min-width: 50%!important;
}

.album-thumbnail img {
  width: 50px;
  height: 50px;
}

.album-thumbnail {
  flex-grow: 1;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.album-info {
  flex-grow: 20;
  padding: 0.5rem 0 0.5rem 0;
  border-bottom: 1px solid lightgray;
}

.album-info .quantity {
  font-size: 11px;
  color: darkgray;
}

.album-row {
  cursor: pointer;
}
