<!--<div >-->
<!--<div class="list-albums-vertical align-items-center">-->

<!--<div class="d-flex album-thumbnail-vertical flex-column mb-4 align-items-center">-->
<!--<img src="https://www.gettyimages.com/gi-resources/images/Embed/new/embed2.jpg" alt="">-->
<!--<div class="text-align-left d-flex flex-column album-title">-->
<!--<span>Album name</span>-->
<!--<span class="album-quantity">12 pictures</span>-->
<!--</div>-->
<!--</div>-->

<!--<div class="d-flex album-thumbnail-vertical flex-column mb-4 align-items-center">-->
<!--<img src="https://www.gettyimages.com/gi-resources/images/Embed/new/embed2.jpg" alt="">-->
<!--<div class="text-align-left d-flex flex-column album-title">-->
<!--<span>Album name</span>-->
<!--<span class="album-quantity">12 pictures</span>-->
<!--</div>-->
<!--</div>-->

<!--<div class="d-flex album-thumbnail-vertical flex-column mb-4 align-items-center">-->
<!--<img src="https://www.gettyimages.com/gi-resources/images/Embed/new/embed2.jpg" alt="">-->
<!--<div class="text-align-left d-flex flex-column album-title">-->
<!--<span>Album name</span>-->
<!--<span class="album-quantity">12 pictures</span>-->
<!--</div>-->
<!--</div>-->

<!--<div class="d-flex album-thumbnail-vertical flex-column mb-4 align-items-center">-->
<!--<img src="https://www.gettyimages.com/gi-resources/images/Embed/new/embed2.jpg" alt="">-->
<!--<div class="text-align-left d-flex flex-column album-title">-->
<!--<span>Album name</span>-->
<!--<span class="album-quantity">12 pictures</span>-->
<!--</div>-->
<!--</div>-->

<!--<div class="d-flex album-thumbnail-vertical flex-column mb-4 align-items-center">-->
<!--<img src="https://www.gettyimages.com/gi-resources/images/Embed/new/embed2.jpg" alt="">-->
<!--<div class="text-align-left d-flex flex-column album-title">-->
<!--<span>Album name</span>-->
<!--<span class="album-quantity">12 pictures</span>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->

<!--<div class="list-photos-albums">-->
<!--<div class="d-flex flex-wrap aniimated-thumbnials">-->
<!--<div class="single-image">-->
<!--<a href="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/242ce817-97a3-48fe-9acd-b1bf97930b01/09-posterization-opt.jpg" data-sub-html="Demo Description">-->
<!--<img src="https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350" alt="">-->
<!--</a>-->
<!--</div>-->

<!--<div class="single-image">-->
<!--<a href="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/242ce817-97a3-48fe-9acd-b1bf97930b01/09-posterization-opt.jpg" data-sub-html="Demo Description">-->
<!--<img src="https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350" alt="">-->
<!--</a>-->
<!--</div>-->

<!--<div class="single-image">-->
<!--<a href="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/242ce817-97a3-48fe-9acd-b1bf97930b01/09-posterization-opt.jpg" data-sub-html="Demo Description">-->
<!--<img src="https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350" alt="">-->
<!--</a>-->
<!--</div>-->

<!--<div class="single-image">-->
<!--<a href="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/242ce817-97a3-48fe-9acd-b1bf97930b01/09-posterization-opt.jpg" data-sub-html="Demo Description">-->
<!--<img src="https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350" alt="">-->
<!--</a>-->
<!--</div>-->

<!--<div class="single-image">-->
<!--<a href="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/242ce817-97a3-48fe-9acd-b1bf97930b01/09-posterization-opt.jpg" data-sub-html="Demo Description">-->
<!--<img src="https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350" alt="">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->

<div (swipeleft)="onSwipeLeft()"
     (swiperight)="onSwipeRight()">
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened>
      <div class="list-albums-vertical align-items-center">

        <div *ngFor="let album of albums"
             class="d-flex album-thumbnail-vertical flex-column mb-4 align-items-center {{album.id}}"
             (click)="moveToAlbum(album.id)">
          <img
            *ngIf="album.images !== null && album.images.length > 0"
            [ngClass]="{'current-album': album.id === currentAlbum.id}"
               src="{{imageUrl + album.images[0].url}}" alt="">
          <img *ngIf="album.images === null || album.images.length === 0"
               src="../../../../assets/images/album_thumbnail.jpg" alt="">
          <div class="text-align-left d-flex flex-column album-title">
            <span>{{album.title}}</span>
            <span
              *ngIf="album.images !== null && album.images.length > 0"
              class="album-quantity">{{album.images.length}} Pictures</span>
            <span class="album-quantity" *ngIf="album.images === null || album.images.length === 0">0</span>
          </div>
        </div>

      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="list-photos-albums">
        <div class="d-flex flex-wrap aniimated-thumbnials">
          <div
            *ngFor="let image of currentAlbum.images"
            class="single-image">
            <a href="{{imageUrl + image.url}}" data-sub-html="Demo Description">
              <img src="{{imageUrl + image.url}}" alt="">
            </a>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
