.list-albums-vertical, .list-photos-albums {
  background-color: white;
  height: 600px;
}

.list-albums-vertical {
  /*width: 27%;*/
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid lightgray;
  padding: 10px 5px 10px 5px;
  align-items: center;
  float: left;
  border-radius: 5px 0 0 5px;
}

.list-photos-albums {
  border-radius: 0 5px 5px 0;
  padding: 6px 0 0 2px;
}

.album-thumbnail-vertical {
  cursor: pointer;
}

.album-thumbnail-vertical img {
  width: 100px;
  height: 100px;
}

.album-thumbnail-vertical .album-quantity {
  font-size: 10px;
  color: darkgray;
}

.album-title {
  text-align: center;
  max-width: 94px;
}

.list-photos-albums .single-image {
  width: 33%;
  height: 100px;
  padding: 3px;
}

.list-photos-albums img {
  width: 100%;
  height: 100%;
}

.current-album {
  border: 2px solid orange;
}


.ab-o-oa {
  bottom: 0;
  height: 300px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 200px;
  width: 300px;
}

.a-Ra-Qc .ab-o-Jb {
  background-color: rgba(0,0,0,.04);
}

.ab-o-Jb {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: whitesmoke;
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.Wa-sa-c.a-i-kd-ta-Zg {
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  left: -webkit-calc(100px);
  left: calc(100px);
}

.Wa-sa-c {
  -webkit-transition: all .5s;
  transition: all .5s;
  left: 100px;
  position: absolute;
  top: 100px;
}

.a-i-kd-ta-Zg {
  background: no-repeat url(https://ssl.gstatic.com/docs/doclist/images/aux-0ffe4313f8b7667a4bf7df304b0fdf75.png) 0 -347px;
  -webkit-background-size: 307px 472px;
  background-size: 307px 472px;
  width: 100px;
  height: 125px;
}

.a-i-kd-a-Ab-Zg {
  background: no-repeat url(https://ssl.gstatic.com/docs/doclist/images/aux-0ffe4313f8b7667a4bf7df304b0fdf75.png) -101px 0;
  -webkit-background-size: 307px 472px;
  background-size: 307px 472px;
  width: 100px;
  height: 125px;
}

.Wa-ka-oa-r.Wa-ka-oa-Zk {
  color: #909090;
}

.Wa-ka-oa-r {
  bottom: 0px;
  color: #fff;
  height: 54px;
  margin-bottom: auto;
  margin-top: auto;
  position: absolute;
  text-align: center;
  width: 100%;
}
