<div class="d-flex flex-column">

  <div class="d-flex flex-column">
    <div class="pres-info d-flex flex-column">
      <div class="d-flex justify-content-between">
        <!--<button mat-raised-button color="accent" class="label">Pathological</button>-->
        <mat-form-field>
          <input
            [(ngModel)]="newPres.pathological"
            matInput placeholder="pathological">
        </mat-form-field>
      </div>

      <div class="d-flex justify-content-between mt-1">
        <!--<button mat-raised-button color="accent" class="label">From</button>-->
        <mat-form-field>
          <input (click)="fromPicker.open()"
                 #from
                 matInput readonly placeholder="From"
                 [matDatepicker]="fromPicker"
                 (dateInput)="setFromDate(from.value)"
                 [min]="minDate">
          <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #fromPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="d-flex justify-content-between mt-1">
        <!--<button mat-raised-button color="accent" class="label">To</button>-->
        <mat-form-field>
          <input (click)="toPicker.open()"
                 #to
                 matInput readonly placeholder="To"
                 [matDatepicker]="toPicker"
                 (dateInput)="setToDate(to.value)"
                 [min]="minDate">
          <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #toPicker></mat-datepicker>
        </mat-form-field>
      </div>

    </div>


    <div class="d-flex flex-column">
      <div class="d-flex medicine-label justify-content-center align-items-center">
        <span>Medicines</span>
      </div>

      <div class="d-flex form-medicine flex-column">
        <div class="d-flex justify-content-between name-dosage-form">
          <mat-form-field>
            <input
              [(ngModel)]="newMedicine.name"
              matInput placeholder="name">
          </mat-form-field>

          <mat-form-field>
            <input
              [(ngModel)]="newMedicine.dosage"
              matInput placeholder="dosage">
          </mat-form-field>
        </div>

        <div class="d-flex justify-content-between usage-form">
          <mat-form-field>
            <input
              [(ngModel)]="newMedicine.usage"
              matInput placeholder="usage">
          </mat-form-field>

          <button
            (click)="addMedicine()"
            mat-mini-fab color="warn">
            <i class="material-icons">
              add
            </i>
          </button>
        </div>
      </div>

      <table class="medicine-table" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="No">
          <th mat-header-cell *matHeaderCellDef> No.</th>
          <td mat-cell *matCellDef="let row; let i = index" style="word-break: break-all">
            {{i + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Medicine</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <mat-form-field>
              <input
                [(ngModel)]="newPres.medicines[i].name"
                matInput placeholder="name">
            </mat-form-field>
          </td>
          <!--<td mat-cell *matCellDef="let row" style="word-break: break-all">-->
            <!--{{row.name}}-->
          <!--</td>-->
        </ng-container>

        <ng-container matColumnDef="dosage">
          <th mat-header-cell *matHeaderCellDef> Dosage</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <mat-form-field>
              <input
                [(ngModel)]="newPres.medicines[i].dosage"
                matInput placeholder="dosage">
            </mat-form-field>
          </td>
          <!--<td mat-cell *matCellDef="let row" style="word-break: break-all">-->
            <!--{{row.dosage}}-->
          <!--</td>-->
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="usage">
          <th mat-header-cell *matHeaderCellDef> Usage</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <mat-form-field>
              <input
                [(ngModel)]="newPres.medicines[i].usage"
                matInput placeholder="usage">
            </mat-form-field>
          </td>
          <!--<td mat-cell *matCellDef="let row"> {{row.usage}}</td>-->
        </ng-container>

        <ng-container matColumnDef="del">
          <th mat-header-cell *matHeaderCellDef></th>
          <td style="cursor: pointer" mat-cell *matCellDef="let row; let i = index">
            <i class="material-icons" style="color: red" (click)="delMedicines(i)">
              close
            </i>
          </td>
          <!--<td mat-cell *matCellDef="let row"> {{row.usage}}</td>-->
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>

    <div class="d-flex justify-content-end mt-3 action-button">
      <button mat-button mat-raised-button color="primary" class="mr-1" (click)="onSave()"><i class="material-icons">edit</i>
      </button>
      <button mat-button mat-raised-button class="mr-1" (click)="onCancel()"><i class="material-icons">exit_to_app</i>
      </button>
    </div>
  </div>
</div>
