/*.pres-info .label {*/
  /*width: 30%;*/
  /*height: 40px;*/
/*}*/

.pres-info mat-form-field {
  width: 100%;
}

.info {
  color: gray !important;
}

.mat-column-No {
  width: 18%;
}

.mat-column-name .mat-form-field-infix, .mat-column-dosage .mat-form-field-infix, .mat-column-usage .mat-form-field-infix{
  width: 26% !important;
}

.mat-column-del {
  width: 4%;
  padding-right: 8px !important;
}

.mat-column-name mat-form-field, .mat-column-dosage mat-form-field, .mat-column-usage mat-form-field {
  padding-right: 5px!important;
}

.medicine-table th {
  background-color: #eaeaea;
}

button:focus {
  outline: none;
}

.action-button button{
  min-width: 50px !important;
}

.medicine-label {
  height: 40px;
  background-color: #ff4081;
  color: white;
  font-weight: bold;
}

.name-dosage-form mat-form-field{
  width: 48%;
}

.usage-form mat-form-field {
  width: 90%;
}
