<div class="content">
  <mat-card *ngFor="let noti of notifications" class="example-card mb-3">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img class="w-100 h-auto" src="../../../assets/images/avatar.jpg" alt="">
      </div>
      <mat-card-title>{{noti.teacherName}}</mat-card-title>
      <mat-card-subtitle>{{(noti.createdAt + '').substr(0, 10)}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div [innerHTML]="noti.title"></div>
      <div [innerHTML]="noti.content"></div>
    </mat-card-content>

    <img
      *ngIf="noti.image !== null"
      mat-card-image src="{{photosUrl + noti.image.url}}" alt="Photo of a Shiba Inu">
    <!--<mat-card-actions>-->
    <!--<button mat-button>LIKE</button>-->
    <!--<button mat-button>SHARE</button>-->
    <!--</mat-card-actions>-->
  </mat-card>
</div>
