<div class="content">

  <div>
    <div class="pricingTable10">
      <mat-form-field style="display: none" class="mat-deadline w-100">
        <input style="display: none"
               (click)="picker.open()"
               #date
               matInput readonly placeholder="Choose a date"
               [matDatepicker]="picker"
               (dateInput)="goToDate(date.value)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      <div class="pricingTable-header" (click)="picker.open()">
        <h3 class="heading">{{hygieneStatus[0] ? getWeekdays((hygieneStatus[0].createdAt + '').substr(0, 10)) :
          ''}}</h3>
        <span class="price-value">
          {{hygieneStatus[0] ? (hygieneStatus[0].createdAt + '').substr(0, 10) : 'No record!'}}
        </span>
      </div>
      <div class="pricing-content">
        <ul>
          <div class="d-flex flex-column bg-white hygiene-info mb-3" *ngFor="let hyg of hygieneStatus">
            <div class="pl-3 pr-3 pb-1 d-flex align-items-center">
              <span class="changeBlock--day">{{(hyg.createdAt + '').substr(8, 2)}}</span>
              <div class="ml-2">
                <span class="changeBlock--weekday font-weight-bold">{{getWeekdays((hygieneStatus[0].createdAt + '').substr(0, 10))}}</span>
                <div class="small">
                  <span class="changeBlock--month">{{(hyg.createdAt + '').substr(5, 2)}}</span>
                  <span class="changeBlock--year ml-1 ">{{(hyg.createdAt + '').substr(0, 4)}}</span>
                </div>
              </div>
              <span class="ml-auto font-weight-bold block-sum-amount">
        {{hyg.hygience.numberOfWc}} Times
      </span>
            </div>
            <div class="hygiene-note">
              this is note!
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>

</div>
