<div class="d-flex flex-column">
  <div class="d-flex flex-column shadow notice-wrapper">
    <div class="d-flex notice-title-wrapper">
      <div class="notice-title d-flex justify-content-between">
        <h3 style="font-family: 'Cabin Sketch', cursive;">Notifications</h3>
        <div class="notice-see-more">
          <i style="font-size: 31px;"
             class="material-icons" (click)="navigate('notification')">
            skip_next
          </i>
        </div>
      </div>
    </div>
    <div *ngFor="let noti of notifications; let i = index">
      <div
        (click)="navigate('notifications')"
        *ngIf="i <= 2"
        class="d-flex notice-content-wrapper">
        <div
          class="notice-content-time">
          <span>{{(noti.createdAt+'').substr(0, 10)}}</span>
        </div>

        <div
          class="notice-content text-truncate">
          <span *ngIf="noti.title.includes('<p>')" [innerHTML]="noti.title.substr(3, noti.title.length-8)"></span>
          <span *ngIf="!noti.title.includes('<p>')" [innerHTML]="noti.title"></span>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center expand-notice"
         data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
         aria-controls="collapseExample">
      <i class="material-icons">
        more_horiz
      </i>
    </div>

    <div class="collapse" id="collapseExample">
      <div class="d-flex flex-column" (click)="navigate('notifications')">
        <div class="d-flex notice-content-wrapper">
          <div class="notice-content-time">
            <span>21-8-2018</span>
          </div>

          <div class="notice-content text-truncate">
            <span>Co nho phu huynh mang dong phuc cho chau, hom nay co dien van nghe tai truong</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="shadow mb-2">
    <div class="preview">

      <div class="app-figure" id="zoom-fig">
        <div class="MagicScroll" id="scroll-1">
          <a *ngFor="let image of images" (click)="navigate('albums/list')"><img
            srcset="{{image.url}}" src="{{image.url}}"/>All Star Plaid</a>

        </div>
      </div>

    </div>
  </div>

  <div class="d-flex flex-wrap">
    <div class="feature p-1">
      <button
        (click)="navigate('attendance')"
        style="background-color: #f9f2e5; border: 1.5px solid #ffa500;"
        mat-raised-button class="shadow">
        <i
          style="color: orange"
          class="material-icons">playlist_add_check</i>
        <!--<img src="https://static.moneylover.me/img/icon/ic_category_pharmacy.png" alt="" class="w-75">-->
        <br>
        <span
          style="color: orange"
          class="btn-label">Attendance</span>
      </button>
    </div>

    <div class="feature p-1">
      <button
        (click)="navigate('absent-applications')"
        style="background: #f3f3ff; border: 1.5px solid #6e6ece;"
        mat-raised-button class="shadow">
        <i
          [matBadgeHidden]="notiQuantity === null || notiQuantity.application <= 0"
          matBadge="{{notiQuantity.application}}"
          matBadgeColor="warn"
          style="color: #6e6ece"
          class="material-icons">sentiment_very_dissatisfied</i>
        <br>
        <span
          style="color: #6e6ece"
          class="btn-label">Application</span>
      </button>
    </div>

    <div class="feature p-1">
      <button
        (click)="navigate('prescription')"
        style="background-color: #d6c2bb; border: 1.5px solid #5D4037;"
        mat-raised-button class="shadow">
        <i
          [matBadgeHidden]="notiQuantity === null || notiQuantity.prescription <= 0"
          matBadge="{{notiQuantity.prescription}}"
          matBadgeColor="warn"
          style="color: #5D4037"
          class="material-icons">assignment</i>
        <br>
        <span
          style="color: #5D4037;"
          class="btn-label">Prescription</span>
      </button>
    </div>

    <div class="feature p-1">
      <button
        (click)="navigate('health')"
        style="background-color: #e0f0f7; border: 1.5px solid #0288D1;"
        mat-raised-button class="shadow">
        <i
          style="color: #0288D1"
          class="material-icons">add_box</i>
        <br>
        <span
          style="color: #0288D1;"
          class="btn-label">Health</span>
      </button>
    </div>

    <div class="feature p-1">
      <button
        (click)="navigate('albums/list')"
        style="background-color: #ffefef; border: 1.5px solid #ff4040;" mat-raised-button class="shadow">
        <i
          style="color: #ff4040;"
          class="material-icons">photo_album</i>
        <br>
        <span
          style="color: #ff4040;"
          class="btn-label">Album</span>
      </button>
    </div>

    <div class="feature p-1">
      <button
        (click)="navigate('menus')"
        style="background-color: #f5fff5; border: 1.5px solid green;"
        mat-raised-button class="shadow">
        <i
          style="color: green"
          class="material-icons">fastfood</i>
        <br>
        <span
          style="color: green;"
          class="btn-label">Menu</span>
      </button>
    </div>

    <div class="feature p-1">
      <button
        style="background-color: #fff8ff; border: 1.5px solid plum;"
        mat-raised-button class="shadow">
        <i
          style="color: plum"
          class="material-icons">linked_camera</i>
        <br>
        <span
          style="color: plum;"
          class="btn-label">Camera</span>
      </button>
    </div>

    <div class="feature p-1">
      <button
        (click)="navigate('hygiene')"
        style="background-color: #fbfae7d4; border: 1.5px solid #a5a042;"
        mat-raised-button class="shadow">
        <i
          style="color: #a5a042"
          class="material-icons">accessibility</i>
        <br>
        <span
          style="color: #a5a042;"
          class="btn-label">Hygiene</span>
      </button>
    </div>

    <div class="feature p-1">
      <button
        (click)="navigate('activities')"
        style="background-color: #eafefa; border: 1.5px solid #14cba8;"
        mat-raised-button class="shadow">
        <i
          style="color: #14cba8"
          class="material-icons">event_note</i>
        <br>
        <span
          style="color: #14cba8;"
          class="btn-label">Activities</span>
      </button>
    </div>
  </div>
</div>
