<div class="menu-wrapper">
  <!--<h2 class="mb-4" style="text-align: center; color: gray">Menu for the week</h2>-->
  <mat-tab-group color="accent">
    <mat-tab aria-setsize="2" *ngFor="let mn of menu" label="{{mn.weekday}}">
      <div class="demo8">
        <div class="pricingTable8 green">
          <h3 class="title"><span>{{mn.date}}</span></h3>
          <ul class="pricing-content">
            <div *ngIf="mn.morning">
              <li><i class="material-icons">check</i> Morning </li>
              <div class="mb-3">
                <span>{{mn.morning}}</span>
              </div>

              <li><i class="material-icons">check</i> Lunch </li>
              <div class="mb-3">
                <span>{{mn.lunch}}</span>
              </div>

              <li><i class="material-icons">check</i> Afternoon </li>
              <div class="mb-3">
                <span>{{mn.afternoon}}</span>
              </div>
            </div>

            <div *ngIf="!mn.morning">
              <li><i class="material-icons">check</i> There is no menu this day! </li>
            </div>
          </ul>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <!--<div *ngFor="let menu of menu" class="pricingTable8 green">-->
    <!--<h3 class="title"><span>{{menu.date}}</span></h3>-->
    <!--<ul class="pricing-content">-->
      <!--<li><i class="material-icons">check</i> Morning </li>-->
      <!--<div class="mb-3">-->
        <!--<span>{{menu.morning}}</span>-->
      <!--</div>-->

      <!--<li><i class="material-icons">check</i> Lunch </li>-->
      <!--<div class="mb-3">-->
        <!--<span>{{menu.lunch}}</span>-->
      <!--</div>-->

      <!--<li><i class="material-icons">check</i> Afternoon </li>-->
      <!--<div class="mb-3">-->
        <!--<span>{{menu.afternoon}}</span>-->
      <!--</div>-->
    <!--</ul>-->
  <!--</div>-->
</div>
