.demo8 {
  padding: 30px 10px;
}

.pricingTable8 {
  padding-bottom: 60px;
  background: #fff;
  text-align: center;
  /*margin-bottom: 50px;*/
  position: relative
}

.pricingTable8:before {
  content: "";
  width: 80%;
  height: 10px;
  background: #1abc9c;
  margin: 0 auto;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0
}

.pricingTable8 .title {
  display: inline-block;
  width: 80%;
  margin: 0 0 40px;
  background: #1abc9c;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative
}

.pricingTable8 .title:after, .pricingTable8 .title:before {
  content: "";
  border-right: 10px solid #4a59ab;
  border-top: 10px solid transparent;
  position: absolute;
  top: -10px;
  left: -10px
}

.pricingTable8 .title:after {
  border-right: none;
  border-left: 10px solid #4a59ab;
  left: auto;
  right: -10px
}

.pricingTable8 .title span {
  display: block;
  padding: 25px 0
}

.pricingTable8 .title span:after {
  content: "";
  display: block;
  width: 100%;
  height: 21px;
  position: absolute;
  bottom: -21px;
  background: linear-gradient(-45deg, transparent 75%, #1abc9c 75%) 0 50%, linear-gradient(45deg, transparent 75%, #1abc9c 75%) 0 50%;
  background-repeat: repeat-x;
  background-size: 16px
}

.pricingTable8 .pricing-content {
  list-style: none;
  padding: 0;
  margin: 0
}

.pricingTable8 .pricing-content li {
  font-size: 16px;
  font-weight: 700;
  color: #1abc9c;
  line-height: 30px;
  margin-bottom: 20px;
  position: relative
}

.pricingTable8 .pricing-content li:last-child {
  margin-bottom: 0
}

.pricingTable8 .pricing-content li:before {
  content: "";
  width: 30px;
  height: 100%;
  background: #1abc9c;
  position: absolute;
  top: 0;
  left: -10px
}

.pricingTable8 .pricing-content li:after {
  content: "";
  border-left: 15px solid #1abc9c;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 0;
  left: 20px
}

.pricingTable8 .pricing-content i {
  font-size: 22px;
  font-weight: bolder;
  color: #fff;
  position: absolute;
  top: 6px;
  left: 0
}

.pricingTable8 .pricing-content i:after {
  content: "";
  border-right: 10px solid #4a59ab;
  border-top: 10px solid transparent;
  position: absolute;
  top: -16px;
  left: -10px
}

.pricingTable8 .price-value {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #1abc9c;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  bottom: -75px;
  left: 0;
  right: 0
}

.pricingTable8 .pricingTable-signup {
  display: block;
  padding: 21px 0;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  position: relative
}

.pricingTable8 .pricingTable-signup:after, .pricingTable8 .pricingTable-signup:before {
  content: "";
  width: 53%;
  height: 15px;
  background: #fff;
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: rotate(20deg)
}

.pricingTable8 .pricingTable-signup:after {
  left: auto;
  right: 0;
  transform: rotate(-20deg)
}

.pricingTable8 .amount {
  display: block;
  padding: 15px 0;
  font-size: 28px;
  font-weight: 700;
  color: #fff
}

.pricingTable8 .amount span {
  display: inline;
  font-size: 16px;
  border-bottom: 2px solid #fff;
  position: relative;
  top: -8px
}

.pricingTable8.green .price-value, .pricingTable8.green .pricing-content li:before, .pricingTable8.green .title, .pricingTable8.green:before {
  background: #1abc9c
}

.pricingTable.green .title span:after {
  background: linear-gradient(-45deg, transparent 75%, #1abc9c 75%) 0 50%, linear-gradient(45deg, transparent 75%, #1abc9c 75%) 0 50%;
  background-size: 16px
}

.pricingTable8.green .pricing-content li {
  color: #1abc9c
}

.pricingTable8.green .pricing-content li:after {
  border-left: 15px solid #1abc9c
}

.pricingTable8.green .pricing-content i:after, .pricingTable8.green .title:before {
  border-right: 10px solid #11927a
}

.pricingTable8.green .title:after {
  border-left: 10px solid #11927a
}

.pricingTable8.purple .price-value, .pricingTable8.purple .pricing-content li:before, .pricingTable8.purple .title, .pricingTable8.purple:before {
  background: #cf4d78
}

.pricingTable.purple .title span:after {
  background: linear-gradient(-45deg, transparent 75%, #cf4d78 75%) 0 50%, linear-gradient(45deg, transparent 75%, #cf4d78 75%) 0 50%;
  background-size: 16px
}

.pricingTable8.purple .pricing-content li {
  color: #cf4d78
}

.pricingTable8.purple .pricing-content li:after {
  border-left: 15px solid #cf4d78
}

.pricingTable8.purple .pricing-content i:after, .pricingTable8.purple .title:before {
  border-right: 10px solid #ae365e
}

.pricingTable8.purple .title:after {
  border-left: 10px solid #ae365e
}

@media only screen and (max-width: 990px) {
  .pricingTable8 {
    /*margin-bottom: 100px*/
  }
}

.pricing-content {
  white-space: pre-line;
  font-size: 16px;
}

.menu-wrapper .mat-tab-label, .menu-wrapper .mat-tab-label-active{
  min-width: calc(90%/6);
  padding: 3px!important;
  margin: 3px!important;
}

.menu-wrapper .mat-tab-label-content {
  color: #b71b1b;
  font-size: 15px;
  font-weight: bolder;
}
