.app-header {
  background-color: white;
  height: 60px;
  width: 100%;
  z-index: 100;
  position: sticky;
  top: 0;
}

.logo {
  /*margin-left: 47px;*/
}

.logo img {
  width: 70px;
  height: 50px;
}

.app-header-fixed {
  position: fixed;
  z-index: 100;
}
