<div id="app-header" class="d-flex align-items-center shadow app-header justify-content-between">
  <div
    style="cursor: pointer"
    (click)="home()" class="class-name ml-2 d-flex">
    <!--<i class="material-icons mr-2">-->
      <!--home-->
    <!--</i>-->
    <!--<i class="material-icons">-->
      <!--arrow_back_ios-->
    <!--</i>-->
    <span style="font-weight: 500; font-size: 16px; max-width: 95px" class="text-truncate">Class Talent 1</span>
  </div>

  <div class="logo">
    <img src="../../../../assets/images/logo.png" alt=""/>
  </div>

  <div class="logged-user mr-2 d-flex">
    <span class="mr-1" style="cursor: pointer" (click)="swithChildren()">{{child.name}}</span>
    <i class="material-icons" (click)="logout()" style="cursor: pointer">
      power_settings_new
    </i>
  </div>
</div>
