<div class="content d-flex flex-column">

  <div class="shadow w-100 create-pres mb-3 pl-2 d-flex" (click)="openDialog()">
    <i class="material-icons">
      add_circle
    </i>

    <span class="pl-2 font-weight-bold"> Create Presciption </span>
  </div>

  <div
    *ngFor="let pres of prescriptions"
    class="bg-white shadow mb-3 pb-3">
    <div style="cursor: pointer"
         [ngClass]="{'not-complete': !pres.complete}"
         class="border-bottom pl-3 pr-3 pb-3 d-flex align-items-center pt-3"
         (click)="openProgress(pres.id)">
      <span class="changeBlock--day">{{(pres.fromDay + '').substr(8, 2)}}</span>
      <div class="ml-2">
        <span class="changeBlock--weekday font-weight-bold">{{getWeekdays((pres.fromDay + '').substr(0, 10))}}</span>
        <div class="small">
          <span class="changeBlock--month">{{(pres.fromDay + '').substr(5, 2)}}</span>
          <span class="changeBlock--year ml-1 ">{{(pres.fromDay + '').substr(0, 4)}}</span>
        </div>
      </div>

      <span style="font-weight: bold">
        <i class="material-icons">
          arrow_right_alt
        </i>
      </span>

      <span class="changeBlock--day">{{(pres.toDay + '').substr(8, 2)}}</span>
      <div class="ml-2">
        <span class="changeBlock--weekday font-weight-bold">{{getWeekdays((pres.toDay + '').substr(0, 10))}}</span>
        <div class="small">
          <span class="changeBlock--month">{{(pres.toDay + '').substr(5, 2)}}</span>
          <span class="changeBlock--year ml-1 ">{{(pres.toDay + '').substr(0, 4)}}</span>
        </div>
      </div>

      <span class="ml-auto font-weight-bold">
          {{pres.pathological}}</span>
    </div>

    <div
      *ngFor="let med of pres.medicines"
      class="change-item d-flex align-items-center">
      <div class="change-icon d-flex justify-content-center">
        <img src="https://static.moneylover.me/img/icon/ic_category_pharmacy.png"/>
      </div>
      <div class="change-info">
        <span class="change--name d-block">{{med.name}}</span>
        <span class="change--note">{{med.usage}}</span>
      </div>
      <div class="change-amount">
        <span class="float-right block-sum-amount font-weight-bold">
          {{med.dosage}}
        </span>
      </div>
    </div>
  </div>
</div>
