.change-item {
  min-height: 70px;
  /*cursor: pointer;*/
  background-color: white;
  padding-right: 16px;
}
.change-item:hover {
  background-color: #eaeaea;
}
.change-icon {
  width: 20%;
}
.change-icon img {
  height: 35px;
  width: auto;
}
.change-info {
  width: 50%;
}
.change--name {
  font-weight: 800;
  font-size: 14px;
}
.change-amount {
  width: 30%;
  cursor: pointer;
  font-weight: 600;
}

.changeBlock--day {
  font-size: 34px;
}

.block-sum-amount {
  font-size: 16px;
  color: #bb0101;
}

.create-pres {
  height: 40px;
  background-color: white;
  cursor: pointer;
  align-items: center;
}

.create-pres i {
  color: green;
}

.not-complete {
  background-color: #ffdede;
}
