<div class="attendance-wrapper bg-white shadow p-2">
  <div class="date-time-picker">
    <mat-form-field class="mat-deadline w-100">
      <input
        (click)="picker.open()"
        [value]="defaultDate"
        #date
        (dateInput)="goToDate(date.value)"
        matInput readonly placeholder="Choose a date"
        [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <ng-fullcalendar #ucCalendar
                   [options]="calendarOptions"
                   (clickButton)="updateCalendarWhenClickButton($event)"></ng-fullcalendar>

  <div class="description d-flex flex-column justify-content-center mt-2">
    <div class="d-flex mb-1">
      <div class="description-icon" style="background-color: green"></div>
      <span class="pt-1">Appear</span>
    </div>

    <div class="d-flex mb-1">
      <div class="description-icon" style="background-color: purple"></div>
      <span class="pt-1">Absent with allowed</span>
    </div>

    <div class="d-flex mb-1">
      <div class="description-icon" style="background-color: red"></div>
      <span class="pt-1">Absent without allowed</span>
    </div>
  </div>
</div>
