.attendance-wrapper .fc-day-grid-event {
  height: 50px !important;
}

.attendance-wrapper .fc-widget-header {
  border-right-width: 0 !important;
  margin-right: 0 !important;
}

.attendance-wrapper .fc-day-grid-container {
  overflow: hidden !important;
  height: 100% !important;
}

.description-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
}

.description {
  margin-left: calc(100% - 280px);
}
