<app-header></app-header>
<div class="content-wrapper">
  <router-outlet></router-outlet>
  <div id="talkjs-container" style="width: 90%; margin: 30px; height: 20px"></div>
</div>

<div class="d-flex bottom-navigate justify-content-between">
  <div class="w-25">
    <button
      routerLink="/home"
      routerLinkActive="active-nav"
      class="w-100" mat-button>
      <mat-icon class="material-icons">
        home
      </mat-icon>
    </button>
  </div>

  <div class="w-25">
    <button id="talkToButton" (click)="startConversation()"
            class="w-100" mat-button>
      <mat-icon class="material-icons">
        message
      </mat-icon>
    </button>
  </div>

  <div class="w-25">
    <button
      (click)="navigateToLog()"
      routerLink="/log"
      routerLinkActive="active-nav"
      class="w-100" mat-button>
      <mat-icon matBadge={{numberOfNoti}} [matBadgeHidden]="numberOfNoti === null || numberOfNoti === 0" matBadgeColor="warn">notification_important</mat-icon>
    </button>
  </div>

  <div class="w-25">
    <button class="w-100" mat-button>
      <mat-icon class="material-icons">
        settings
      </mat-icon>
    </button>
  </div>
</div>
