.content-wrapper {
  width: 450px;
  margin: auto;
  padding-top: 10px;
}

.bottom-navigate {
  position: fixed;
  bottom: 0;
  width: 450px;
  margin-left: calc(50% - 225px);
  background-color: white;
  height: 50px;
  z-index: 100;
  box-shadow: 0px -5px 11px rgba(0,0,0,.20);
}

.bottom-navigate button, .bottom-navigate a {
  height: 50px;
  border-radius: 0;
  background-color: #2db84c;
  color: white;
}

.bottom-navigate button:focus {
  outline: none !important;
}

.active-nav {
  background-color: #298257 !important;
}
