<div class="content health-wrapper bg-white p-2 shadow">

  <div
    *ngIf="childrenHealthes[0] !== undefined &&
    (childrenHealthes[0].lowStandardOfHeight < childrenHealthes[0].heigh && childrenHealthes[0].heigh < childrenHealthes[0].highStandardOfHeight) &&
    (childrenHealthes[0].lowStandardOfWeight < childrenHealthes[0].weight && childrenHealthes[0].weight < childrenHealthes[0].highStandardOfWeight); else angry"
    class="emoji  emoji--yay">
    <div class="emoji__face">
      <div class="emoji__eyebrows"></div>
      <div class="emoji__mouth"></div>
    </div>
  </div>

  <ng-template #angry>
    <div
      class="emoji  emoji--angry">
      <div class="emoji__face">
        <div class="emoji__eyebrows"></div>
        <div class="emoji__mouth"></div>
      </div>
    </div>
  </ng-template>

  <mat-tab-group>
    <mat-tab label="Health record">
      <!--<div class="d-flex create-health-record mt-2">-->
        <!--<mat-form-field>-->
          <!--<input-->
            <!--type="number"-->
            <!--min="1"-->
            <!--max="240"-->
            <!--[(ngModel)]="newHealth.age"-->
            <!--matInput placeholder="Age/months">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field>-->
          <!--<input-->
            <!--type="number"-->
            <!--min="1"-->
            <!--[(ngModel)]="newHealth.weight"-->
            <!--matInput placeholder="Weight/kg">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field>-->
          <!--<input-->
            <!--type="number"-->
            <!--min="1"-->
            <!--[(ngModel)]="newHealth.heigh"-->
            <!--matInput placeholder="Height/cm">-->
        <!--</mat-form-field>-->

        <!--<button mat-mini-fab color="warn" (click)="createRecord()">-->
          <!--<i class="material-icons">-->
            <!--add-->
          <!--</i>-->
        <!--</button>-->
      <!--</div>-->

      <table class="w-100 health-table" *ngIf="childrenHealthes !== null && childrenHealthes.length > 0" mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> Messure in</th>
          <td mat-cell *matCellDef="let row"> {{(row.createdAt + '').substr(0, 10)}}</td>
        </ng-container>

        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> Age/months</th>
          <td mat-cell *matCellDef="let row"> {{row.age}}</td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight/kg</th>
          <td mat-cell *matCellDef="let row; let i = index"> {{row.weight}}</td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="heigh">
          <th mat-header-cell *matHeaderCellDef> Height/cm</th>
          <td mat-cell *matCellDef="let row"> {{row.heigh}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="healthDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: healthDisplayedColumns;">
        </tr>
      </table>

      <mat-paginator #healthPaginator
                     [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </mat-tab>

    <mat-tab label="Weight chart" class="weight-chart">
      <ng-template matTabContent>
        <div class="d-flex justify-content-center">
          <app-chart [data]="dataWeightCharts"
                       [type]="'Weight'"></app-chart>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Height chart" class="height-chart">
      <ng-template matTabContent>
        <div class="d-flex justify-content-center">
          <app-chart [data]="dataHeightCharts"
                       [type]="'Height'"></app-chart>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</div>
