<div class="w-100 create-pres pl-2 d-flex" (click)="onCreateApplication()">
  <i class="material-icons">
    add_circle
  </i>

  <span class="pl-2 font-weight-bold"> Create Absent Appication </span>
</div>

<div class="application-wrapper shadow bg-white">

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="fromDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> From date</th>
      <td [ngClass]="{'confirm': !row.confirm}" mat-cell *matCellDef="let row"> {{(row.fromDate+'').substr(0, 10)}}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="toDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> To date</th>
      <td [ngClass]="{'confirm': !row.confirm}" mat-cell *matCellDef="let row"> {{(row.toDate+'').substr(0, 10)}}</td>
    </ng-container>

    <ng-container matColumnDef="reason">
      <th mat-header-cell *matHeaderCellDef>
        Reason
      </th>
      <td [ngClass]="{'confirm': !row.confirm}" mat-cell *matCellDef="let row"> {{row.reason}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<!--<div class="float-button">-->
  <!--<a mat-fab (click)="onCreateApplication()">-->
    <!--<i class="material-icons">-->
      <!--add-->
    <!--</i>-->
  <!--</a>-->
<!--</div>-->
