.application-wrapper table {
  width: 100%;
}

.application-wrapper {
  padding: 5px;
  /*border-radius: 10px;*/
}

.mat-column-reason {
  width: 50%;
  word-break: break-all;
}

.confirm {
  background-color: #eeecec;
}

.float-button {
  position: fixed;
  bottom: 50px;
  width: 450px;
  text-align: right;
  margin: auto;
}

.create-pres {
  height: 40px;
  background-color: white;
  cursor: pointer;
  align-items: center;
}

.create-pres i {
  color: green;
}
