<div class="d-flex flex-column">
  <mat-form-field>
    <input
      type="number"
      min="1"
      max="240"
      [(ngModel)]="health.age"
      matInput placeholder="Age/months">
  </mat-form-field>

  <mat-form-field>
    <input
      type="number"
      min="1"
      [(ngModel)]="health.weight"
      matInput placeholder="Weight/kg">
  </mat-form-field>

  <mat-form-field>
    <input
      type="number"
      min="1"
      [(ngModel)]="health.heigh"
      matInput placeholder="Height/cm">
  </mat-form-field>
</div>

<div class="d-flex justify-content-end action-button">
  <button mat-button mat-raised-button color="warn" class="mr-1" (click)="deleteHealth()"><i class="material-icons">delete_forever</i></button>
  <button mat-button mat-raised-button color="primary" class="mr-1" (click)="edit()"><i class="material-icons">edit</i></button>
  <button mat-button mat-raised-button class="mr-1" (click)="onCancel()"><i class="material-icons">exit_to_app</i></button>
</div>
