//.changeBlock--day {
//  font-size: 34px;
//}
//
//.block-sum-amount {
//  font-size: 16px;
//  color: #bb0101;
//}
//
//.hygiene-note {
//  padding: 0 16px 16px 16px;
//}
//
//.hygiene-info {
//  box-shadow: 0px 3px 20px 1px rgba(204,204,204,1);
//}


:host {
  display: block;
  //padding: 16px;
}

igx-icon {
  cursor: pointer;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  display: flex;
  flex: 1 0 240px;
  align-items: center;

  &__info {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 24px;
  }
}

.name {
  font-weight: 600;
}

.phone {
  font-size: 13px;
  line-height: 1;
}

.search {
  margin-bottom: 16px;
}

.list-sample i {
  font-size: 3em;
}
//color icon
.photo_album {
  color: #ff4040;
}

.sentiment_very_dissatisfied {
  color: #6e6ece;
}

.add_box {
  color: #0288D1;
}

.assignment {
  color: #5D4037;
}

.notification_important {
  color: #2db84c;
}

.confirm {
  .igx-list__item-content{
    background-color: #dafce1 !important;
  }
}
