<div class="content shadow">
  <!--<div class="d-flex flex-column bg-white hygiene-info mb-3">-->
  <!--<div class="pl-3 pr-3 pb-1 d-flex align-items-center">-->
  <!--<span class="changeBlock&#45;&#45;day">17</span>-->
  <!--<div class="ml-2">-->
  <!--<span class="changeBlock&#45;&#45;weekday font-weight-bold">17/11/2018</span>-->
  <!--<div class="small">-->
  <!--<span class="changeBlock&#45;&#45;month">11</span>-->
  <!--<span class="changeBlock&#45;&#45;year ml-1 ">2018</span>-->
  <!--</div>-->
  <!--</div>-->
  <!--<span class="ml-auto font-weight-bold block-sum-amount">-->
  <!--<i class="material-icons">-->
  <!--delete-->
  <!--</i>-->
  <!--</span>-->
  <!--</div>-->
  <!--<div class="hygiene-note">-->
  <!--this is note!-->
  <!--</div>-->
  <!--</div>-->

  <div class="list-sample">
    <igx-list>
      <igx-list-item #item *ngFor="let log of systemLogs" [ngClass]="{'confirm': !log.seen}">
        <div class="item-container" (click)="navigate(log.icon)">
          <div class="contact">
            <!--<igx-avatar [src]="contact.photo" roundShape="true"></igx-avatar>-->
            <i
              matBadgeColor="warn"
              ngClass={{log.icon}}
              class="material-icons">{{log.icon}}</i>
            <div class="contact__info">
              <span class="name">{{(log.createdAt + '').substr(0, 10) }}</span>
              <span class="phone">{{ log.content }}</span>
            </div>
          </div>
          <igx-icon [color]="'lightgray'">delete
          </igx-icon>
        </div>
      </igx-list-item>
    </igx-list>
  </div>

</div>
