<div class="content">

  <div>
    <div class="pricingTable10">
      <mat-form-field style="display: none" class="mat-deadline w-100">
        <input style="display: none"
               (click)="picker.open()"
               #date
               matInput readonly placeholder="Choose a date"
               [matDatepicker]="picker"
               (dateInput)="goToDate(date.value)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      <div class="pricingTable-header" (click)="picker.open()">
        <!--<h3 class="heading">October</h3>-->
        <span class="price-value">
          {{schedules[0] ? getMonth((schedules[0].createdAt + '').substr(0, 10)) : 'No record!'}}
        </span>
      </div>
      <div class="pricing-content">
        <ul>
          <div
            *ngFor="let sche of schedules"
            class="bg-white shadow mb-3 pb-3">
            <div style="font-weight: bold"
                 class="border-bottom pl-3 pr-3 pb-3 d-flex align-items-center pt-3 justify-content-center">
              <span class="changeBlock--day">{{(sche.createdAt + '').substr(8, 2)}}</span>
              <div class="ml-2">
                <span
                  class="changeBlock--weekday font-weight-bold">{{getWeekdays((sche.createdAt + '').substr(0, 10))}}</span>
                <div class="small">
                  <span class="changeBlock--month">{{(sche.createdAt+ '').substr(5, 2)}}</span>
                  <span class="changeBlock--year ml-1 ">{{(sche.createdAt + '').substr(0, 4)}}</span>
                </div>
              </div>

              <!--<span class="ml-auto font-weight-bold">-->
              <!--any</span>-->
            </div>

            <div
              style="background-color: #fff7e8"
              class="change-item d-flex align-items-center">
              <div class="change-icon d-flex justify-content-center">
                <!--<img src="https://static.moneylover.me/img/icon/ic_category_pharmacy.png"/>-->
                <i class="material-icons" style="color: orange">
                  wb_sunny
                </i>
              </div>
              <div class="change-info">
                <span class="change--name d-block" style="color: orange">Morning</span>
                <span class="change--note">{{sche.morning}}</span>
              </div>
              <!--<div class="change-amount">-->
              <!--<span class="float-right block-sum-amount font-weight-bold">-->
              <!--any-->
              <!--</span>-->
              <!--</div>-->
            </div>

            <!--style="background-color: #ffebeb"-->
            <div
            class="change-item d-flex align-items-center">
              <div class="change-icon d-flex justify-content-center">
              <!--<img src="https://static.moneylover.me/img/icon/ic_category_pharmacy.png"/>-->
              <i class="material-icons" style="color: #e16464">
                cloud
              </i>
            </div>
            <div class="change-info">
              <span class="change--name d-block" style="color: #e16464">Afternoon</span>
              <span class="change--note">{{sche.afternoon}}</span>
            </div>
            <!--<div class="change-amount">-->
            <!--<span class="float-right block-sum-amount font-weight-bold">-->
            <!--any-->
            <!--</span>-->
            <!--</div>-->
          </div>

      </div>
      </ul>
    </div>
  </div>
</div>

</div>
