<div class="d-flex flex-column">
  <div class="d-flex justify-content-between">
    <div class="progress-wrapper">
      <div class="percent"
           style="">{{current}}/{{max}}
      </div>

      <round-progress
        [current]="current"
        [max]="max"
        [color]="'#CE2A44'"
        [background]="'#eaeaea'"
        [radius]="125"
        [stroke]="15"
        [semicircle]="false"
        [rounded]="true"
        [clockwise]="false"
        [responsive]="false"
        [duration]="1200"
        [animation]="'easeInOutQuart'"
        [animationDelay]="0"
        style="width: 150px !important; height: 150px !important;"></round-progress>
    </div>

    <div class="d-flex flex-column justify-content-center progress-date">
      <div class="d-flex" *ngFor="let date of prescription.progresses; let i = index">
        <mat-checkbox
          [(ngModel)]="date.confirm">
        </mat-checkbox>
        <span class="ml-2">{{(date.processDate + '').substr(0,10)}}</span>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column mt-3">
    <div class="pres-info d-flex flex-column">
      <div class="d-flex justify-content-between">
        <button mat-raised-button color="accent" class="label">Pathological</button>
        <button mat-raised-button disabled class="info">Common cold</button>
      </div>

      <div class="d-flex justify-content-between mt-1">
        <button mat-raised-button color="accent" class="label">From - To</button>
        <button mat-raised-button disabled class="info">02-11-2018 to 04-11-2018</button>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource" class="mt-3">
      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let row; let i = index" style="word-break: break-all">
          {{i + 1}}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Medicine</th>
        <td mat-cell *matCellDef="let row" style="word-break: break-all">
          {{row.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="dosage">
        <th mat-header-cell *matHeaderCellDef> Dosage</th>
        <td mat-cell *matCellDef="let row" style="word-break: break-all">
          {{row.dosage}}
        </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="usage">
        <th mat-header-cell *matHeaderCellDef> Usage</th>
        <td mat-cell *matCellDef="let row"> {{row.usage}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <div class="d-flex justify-content-end mt-3 action-button">
      <button mat-button mat-raised-button class="mr-1" (click)="onCancel()"><i class="material-icons">exit_to_app</i>
      </button>
    </div>
  </div>
</div>
