.progress-wrapper {
  position: relative;
  font-size: 40px;
}

.percent {
  top: 50%;
  bottom: auto;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 20px;
  position: absolute;
  color: #bbb;
  font-weight: 100;
  line-height: 1;
}

round-progress {
  width: 150px !important;
  height: 150px !important;
}

.progress-date span {
  font-size: 12px;
}

.progress-date {
  margin-right: 40px;
}

.pres-info .label {
  width: 30%;
}

.pres-info .info {
  width: 67%;
}

.info {
  color: gray !important;
}

.mat-column-No {
  width: 19%;
}

.mat-column-name, .mat-column-Dosage, .mat-column-usage {
  width: 27%;
}

th {
  background-color: #eaeaea;
}

button:focus {
  outline: none;
}

.action-button button{
  min-width: 50px !important;
}
