/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr.css';

@import '~igniteui-angular/lib/core/styles/themes/index';

@include igx-core();
@include igx-theme($default-palette);

/* latin */
@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Sketch Regular'), local('CabinSketch-Regular'), url(https://fonts.gstatic.com/s/cabinsketch/v11/QGYpz_kZZAGCONcK2A4bGOj8mNhN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 700;
  src: local('Cabin Sketch Bold'), local('CabinSketch-Bold'), url(https://fonts.gstatic.com/s/cabinsketch/v11/QGY2z_kZZAGCONcK2A4bGOj0I_1Y5tjz.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
  font-family: Myriad_Pro_Regular, Arial, serif;
  background-color: #ededed !important;
  color: #545454 !important;
}

.MagicScroll span {
  display: none !important;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightgray;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

mat-dialog-container {
  max-height: 562px !important;
  overflow-y: auto !important;
}

.mat-tab-header-pagination {
  display: none !important;
}

.mat-datepicker-dialog mat-dialog-container {
  overflow: hidden !important;
}

@media (max-width: 450px) {
  .content-wrapper {
    width: 100% !important;
  }

  .notice-content-time {
    min-width: 67px;
    font-size: 12px;
  }

  .bottom-navigate {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .description {
    margin-left: calc(100% - 260px);
  }

  .mat-column-reason {
    width: 45% !important;
  }

  .pricing-content {
    //background: #ededed !important;
  }

  body {
    font-size: 12px !important;
  }

  button {
    font-size: 12px !important;
  }

  .block-sum-amount {
    font-size: 14px;
  }
}

@media (max-width: 410px) {
  .feature {
    width: 33.33% !important;
  }

  .mat-column-reason {
    width: 40% !important;
  }

  .mat-cell {
    font-size: 13px;
  }

  .mat-dialog-container {
    padding: 11px !important;
  }

  .pres-info button {
    font-size: 12px !important;
  }

  .progress-date {
    margin-right: 24px !important;
  }

  .health-wrapper .mat-tab-label {
    width: 31.33% !important;
  }

  .create-health-record mat-form-field {
    width: 29% !important;
  }

  .emoji--yay {
    margin-left: 31% !important;
  }

  .emoji-angry {
    margin-left: 31% !important;
  }
}

@media (max-width: 320px) {
  .menu-wrapper .mat-tab-label, .menu-wrapper .mat-tab-label-active {
    min-width: calc(88% / 6) !important;
  }

  body {
    font-size: 11px !important;
  }
}

table th, table td {
  vertical-align: middle !important;
}
