<div class="d-flex flex-column">
  <div class="d-flex flex-column">
    <div class="from-date">
      <mat-form-field class="mat-deadline w-100">
        <input
          (click)="from.open()"
          [value]="defaultDate"
          #fromDate
          [min]="minDate"
          matInput readonly placeholder="From date"
          [matDatepicker]="from">
        <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
        <mat-datepicker #from></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="to-date">
      <mat-form-field class="mat-deadline w-100">
        <input
          (click)="to.open()"
          [value]="defaultDate"
          #toDate
          [min]="minDate"
          matInput readonly placeholder="To date"
          [matDatepicker]="to">
        <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
        <mat-datepicker #to></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div>
    <mat-form-field class="w-100">
<textarea
  [(ngModel)]="reason"
  matInput
  cdkTextareaAutosize
  cdkAutosizeMinRows="3"
  cdkAutosizeMaxRows="10"
  placeholder="Reason"></textarea>
    </mat-form-field>
  </div>

  <div class="d-flex justify-content-between">
    <button mat-raised-button color="primary" (click)="onCreate(fromDate.value, toDate.value)">Create</button>
    <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  </div>
</div>
